/* Global */
body {
    background-color: 	#fbf7f5;
}
.headings {
    text-align: center;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}



/* Index */
.carousel-item {
    width: 100vw;
    min-height: 100%;
    max-height: 140vh;
}
.w-100 {
    min-height: 160vh;
    width: 110%;
    min-width: 600px;
    max-width: 100%;
}

/* About me */
.about {
    background-color: 	#fbf7f5;
    margin: 0 2.5em;
}
.about-top {
    width: 60%;
    padding: 2.5em;
    margin: 0 auto;
}

/* Make me */
.make-main {
    margin: 0 2em;
}
.image-wrapper {
    height: 15em;
    overflow: hidden;
}
.instructions-wrapper {
    margin-top: 2em;
}

/* Dublin */
.restaurant-cards {
    height: 25vh;
    overflow: hidden;
    margin: 4em 3em ;
    background-size: cover;
}
.token {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://1.bp.blogspot.com/-v_rYbrhz7yI/WVFrbizTMiI/AAAAAAAApYA/MmmY_u_dOjouXbQPNrsKoKJP2ik0E3j5wCKgBGAs/s1600/P6231256.jpg);
    background-position: 0 45%;

}
.lin-kee {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://www.linkee.ie/images/linkee-chinese-takeaway-slider-bg-1.jpg);
    background-position: 0 10%;
}
.xian    {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://rs-menus-api.roocdn.com/images/dcbb93c1-87ca-4a9c-b5a2-f86293f88592/image.jpeg?width=1200&height=630&auto=webp&format=jpg&fit=crop&v=);
    background-position: 0 10%;

}
.FooLok {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://flipdish.imgix.net/SWf5rntbeOALOzwMGSfqlWBvQ.jpg?w=1080&h=720);
    background-position: 0 10%;
}