/* Global */
body {
    background-color: 	#fbf7f5;
}

/* Index */
.carousel-item {
    width: 100%;
}

.page-heading {
    padding: 1em;
    text-align: center;
}

/* About me */
.about {
    background-color: 	#fbf7f5;
    margin: 0 2.5em;
}
.about-top {
    width: 60%;
    padding: 2.5em;
    margin: 0 auto;
}

/* Make me */
.make-main {
    margin: 0 2em;
}
.image-wrapper {
    height: 15em;
    overflow: hidden;
}
